.home {
  padding: 140px 0px;
  width: 100%;
  min-height: 100vh;

  &__cover {
    max-width: 100%;
    padding-bottom: 40px;

    @media (min-width: $tablet-min) {
      max-width: 55%;
      margin: 0 auto;
      padding-bottom: 80px;
    }
  }

  &__heading {
    @extend .heading--one;
  }

  &__description {
    @extend .text--big;
    text-align: center;
  }
}