.ns-article{
  padding: 140px 0px;

  &__backButton {
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;

    &:before {
      content: "< "
    }
  }

  &__title {
    font-size: 24px;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
  }



  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__content {
    font-size: 20px;
    color: rgb(107, 106, 106);
  }

  &__informs {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    width: 25%;
    color: black;
    font-size: 20px;
  }
}