$color_blue: #2156DE;
$color_blue_light: #284ABE;
$color_blue_dark: #1A2F47;
$color_white: white;
$color_black: #1C1C1D;
$color_turquoise: #1BDBC4;
$color_bluemarine: #576CCA;
$color_gray: #e7e7e7;
$color_yellow: #FFC636;
$color_caribbean: #00C6AE;
$color_pink: #FFB0BC;
$color_orange: #FA6648;