@import '../_base/responsive-breakpoints';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: $html-font-size;
  margin: 0;
  color: $color_black;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;  
  transition: color 0.5s;

  &:hover, &:focus {
    color: $color_blue;
  }
}

*:focus {
  outline-offset: rem(5px);
  outline-width: rem(3px);
  outline-color: $color_blue;
}

::selection {
  color: $color_white;
  background: $color_gray;
}

.container {
  max-width: $max-desktop-width;
  padding: 0 15px;
  margin: 0 auto;
}