.heading {
    &--one {
      font-family: 'Permanent Marker', cursive;
      font-size: rem(70px);
      line-height: rem(75px);
      letter-spacing: rem(2px);
      text-align: center;
      color: $color_black;
      margin-bottom: rem(30px);
    }
  
    &--two {
      @extend .heading--one;
      font-size: rem(50px);
      line-height: rem(55px);
      letter-spacing: rem(2px);
      margin-bottom: rem(20px);
    }
  
    &--three {
      @extend .heading--one;
      font-size: rem(30px);
      line-height: rem(45px);
      letter-spacing: rem(2px);
      margin-bottom: rem(20px);
    }
  }
  
  .text {

    &--regular {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(27px);
      letter-spacing: rem(.45px);
      text-align: left;
      color: $color_black;
    }
  
    &--small {
      @extend .text--regular;
      font-size: rem(14px);
      line-height: rem(20px);
    }

    &--big {
      @extend .text--regular;
      font-size: rem(18px);
      line-height: rem(24px);
    }
  
    &--semiBold {
      @extend .text--regular;
      font-weight: 500;
    }
  
    &--bold {
      @extend .text--regular;
      font-weight: 700;
    }
  
    &--white {
      @extend .text--regular;
      color: $color_white;
    }
}