.heading {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
  
    &-one {
      color: #00b728;
      font-size: 34px;
      line-height: 41px;
  
      @media (min-width: $desktop-min) {
        font-size: 46px;
        line-height: 52px;
      }
    }
  
    &-two {
      color: #00b728;
      font-size: 30px;
      line-height: 37px;
  
      @media (min-width: $desktop-min) {
        font-size: 38px;
        line-height: 46px;
      }
    }
  
    &-three {
      color: #00b728;
      font-size: 26px;
      line-height: 31px;
  
      @media (min-width: $desktop-min) {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
  
  .text {
    font-family: 'Arial', sans-serif;
  
    &--small {
      color: #000000;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  
    &--regular {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  
    &--semiBold {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }
  
    &--bold {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
    }
  
    &--white {
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      text-align: center;
    }
  }
  