.ns-button{
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 17px;
  font-weight: 900;
  width: 170px;
  height: 52px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  border: 5px solid transparent;
  border-image-slice: 34;
  border-image-width: 34px;
  transition: .2s ease-in-out;

  &:hover {
    opacity: .9;
  }

  &--white {
    border-image-source: url('../img/button-mask-white.png');
  }

  &--bluemarine {
    border-image-source: url('../img/button-mask-blue-marine.png');
    color: $color_white;

    &:hover {
      color: $color_white;
    }
  }
}